
<mat-list>
  <mat-list-item *ngFor="let usuario of usuarios$ | async">
    <img matListAvatar src="" alt="" />
      <h3 matLine>
      	{{usuario.displayName}}
      </h3>
      <h4>
      </h4>
      <button (click)="addJugador(usuario.uid, 'lobo')">Añadir lobo</button>
      <button (click)="addJugador(usuario.uid, 'aldeano')">Añadir aldeano</button>
      <button (click)="borrarJugador(usuario.uid)">Borrar</button>
    <p matLine>

    </p>
    </mat-list-item>
</mat-list>


<!--mat-list>
  <mat-list-item *ngFor="let voto of votacion_aldeanos | async">
   {{voto.nominado.nombre}} - {{voto.votante.nombre}}
    </mat-list-item>
</mat-list-->
