<p>lista-jugadores works!</p>

<mat-list>
  <mat-list-item *ngFor="let player of players">
    <img matListAvatar src="" alt="" />

      <h3 matLine *ngIf="!player.alive">
      	<del>{{player.name}}</del> 
      </h3>
      <h3 matLine *ngIf="player.alive">
      	{{player.name}}
      </h3>
    <p matLine>
	  <button mat-button (click)="openInfo()">
	    <mat-icon>info</mat-icon>
	  </button>
	  <mat-checkbox (click)="OnVote(player.id)">Kill him?</mat-checkbox>
    </p>
    </mat-list-item>
</mat-list>