<div class="message">
  <div *ngIf="index%2 == 0" class="avatar-div">
    <img class="avatar" matListAvatar src="../../assets/avatars/villager-icon.jpg" alt="Villager">
  </div>
  <div class="message-content-div">
    <div class="valign-wrapper message-header">
      <strong class="primary-font">{{message.playerId}}</strong>
      <small class="pull-right text-muted"><span class="material-icons alarm">alarm</span>{{messageDate | timeAgo}}</small>
    </div>
    <mat-divider></mat-divider>
    <p matLine>
      {{message.message}}  
    </p>
  </div>
  <div *ngIf="index%2 == 1" class="avatar-div avatar-margin">
    <img class="avatar" matListAvatar src="../../assets/avatars/villager-icon.jpg" alt="Villager">
  </div>
</div>
