<!-- <mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{message.playerId}}</mat-card-title>
    <mat-card-subtitle>Date: {{messageDate | timeAgo}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <span>{{message.message}}</span>
  </mat-card-content>
</mat-card> -->

<mat-list-item>
  <mat-icon mat-list-icon>user</mat-icon>
  <div mat-line>
    <span>{{message.playerId}}</span>
    <span>{{messageDate | timeAgo}}</span>
  </div>
  <span mat-line>{{message.message}}</span>
</mat-list-item>
