
<form>
    <mat-form-field>
      <input matInput placeholder="Email" type="text" #email required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password"  type="password" #password required>
    </mat-form-field>

    <button type="submit" mat-raised-button (click)="logIn(email, password)">Login</button>

    <button type="submit" mat-raised-button (click)="recoverPassword(email)">Forgot password?</button>

    <button type="submit" mat-raised-button color="danger" (click)="logInGoogle()">
        Login with Google
    </button>
</form>

