<div class="flex-container">
  <div class="app">
    <h3>Chat</h3>
    <app-chat-rooms>
      <!-- Aqui lista de jugadores y nominaciones -->
    </app-chat-rooms>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div id="plaza" class="app">
    <h3>Plaza</h3>
    <app-plaza>
      <!-- Aqui lista de jugadores y nominaciones -->
    </app-plaza>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div class="app">
    <h3>Jugadores</h3>
    <app-lista-jugadores>
      <!-- Aqui lista de jugadores y nominaciones -->
    </app-lista-jugadores>
  </div>
</div>
