<mat-accordion class="chats">
  <mat-expansion-panel class="chat-room">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Foro del pueblo
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-chat
    [isLobo]="false"></app-chat>

  </mat-expansion-panel>
  <mat-expansion-panel *ngIf="loboRol"
                        class="chat-room chat-lobo"
                       (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header class="chat-lobo">
      <mat-panel-title>
        Clan de lobos
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-chat
    [isLobo]="true"></app-chat>
  </mat-expansion-panel>
</mat-accordion>

<!--mat-slide-toggle [(ngModel)]="loboRole">Soy lobo</mat-slide-toggle-->
