<ng-container *ngIf="partida$ | async as partida">
    {{ partida.dia }}
    {{ partida.periodo }}

</ng-container>

<mat-list>
    <mat-list-item *ngFor="let jugador of jugadores">
      <img matListAvatar src="" alt="" />
        <h3 matLine *ngIf="!jugador.estado">
            <del>{{jugador.nombre}}</del>
        </h3>
        <h3 matLine *ngIf="jugador.estado">
            {{jugador.nombre}}
        </h3>

        <button (click)="addVoto('aldeano', jugador.id)">VOTA ALDEANO</button>
      <p matLine>

      </p>
      </mat-list-item>
  </mat-list>


<!--button (click)="addVoto('lobo', jugador.id)">VOTA LOBO</button-->
<button (click)="siguienteTurno()">siguiente turno</button>
