<ng-container *ngIf="partida$ | async as partida">
    {{ partida.dia }}
    {{ partida.periodo }}

</ng-container>

<mat-grid-list cols="4" rowHeight="100px" id="tablero">
    <mat-grid-tile *ngFor="let jugador of jugadores; index as i">
        <input type="image" *ngIf="!jugador.estado"  src="../../assets/casas/casa-{{i + 1}}.png" alt="{{jugador.nombre}}"/>
        <input type="image" *ngIf="jugador.estado" src="../../assets/casas/casa-{{i + 1}}-day.png" alt="{{jugador.nombre}}" (click)="addVoto('aldeano', jugador.id)"/>

        <!--<button (click)="addVoto('aldeano', jugador.id)">VOTA {{i+1}}</button>-->
    </mat-grid-tile>
  </mat-grid-list>


<!--button (click)="addVoto('lobo', jugador.id)">VOTA LOBO</button-->
<button (click)="siguienteTurno()">siguiente turno</button>
